.version.blocbox /* version checker */
{
	color: #000008;
	background-color: #6B965B;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4348px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu3797
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u3797
{
	z-index: 121;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u3797-bw
{
	z-index: 121;
}

#u6261
{
	z-index: 142;
	width: 51px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -25px;
}

#u6261:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u6261_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u6258-4
{
	z-index: 130;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -197px;
}

#u6258-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -197px;
}

#u6258-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u6257-4
{
	z-index: 126;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -103px;
}

#u6257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -103px;
}

#u6259-4
{
	z-index: 134;
	width: 53px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 61px;
}

#u6259-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 61px;
}

#u6260-4
{
	z-index: 138;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6260-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 148px;
}

#u6257-4:hover p,#u6259-4:hover p,#u6260-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u3796-3
{
	z-index: 118;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u3798
{
	z-index: 122;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u3806
{
	z-index: 124;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u3806:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u3807
{
	z-index: 125;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u3807:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3791-4
{
	z-index: 24;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3792-5
{
	z-index: 28;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	line-height: 29px;
	font-size: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u3790-13
{
	z-index: 11;
	width: 859px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 83px;
	margin-top: 49px;
	position: relative;
}

#pu3793-5
{
	width: 0.01px;
	margin-left: 346px;
	margin-top: 22px;
}

#u3793-5
{
	z-index: 33;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3793-5:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	z-index: 38;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 184px;
}

#u3794-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 1px -10000px 0px 0px;
}

#u3793-3,#u3794-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3825
{
	z-index: 43;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 33px;
	position: relative;
}

#u3852
{
	z-index: 45;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u3860
{
	z-index: 56;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 18px;
}

#u3860_img
{
	margin-bottom: -2px;
}

#pu3856
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -21px;
	margin-left: 365px;
}

#u3856
{
	z-index: 49;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 65px;
	position: relative;
}

#u3858
{
	z-index: 50;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u3857
{
	z-index: 51;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3859-4
{
	z-index: 52;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 19px;
	position: relative;
}

#u3853
{
	z-index: 46;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 431px;
}

#u3854
{
	z-index: 47;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u3855
{
	z-index: 48;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3862
{
	z-index: 58;
	width: 320px;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 306px;
}

#u3862 img.shadow
{
	-pie-box-shadow: 0px 0px 5px 1px #9E9CA0;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
}

#u3864
{
	z-index: 60;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(62,57,66,0.5),0px 0px 8px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3860_clip,#u3864_clip
{
	overflow: hidden;
	width: 320px;
	height: 245px;
}

#u3864_img
{
	margin-top: -2px;
}

#u3866-4
{
	z-index: 62;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 58px;
	position: relative;
}

#u3894
{
	z-index: 66;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#pu3907
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 72px;
}

#u3907
{
	z-index: 68;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

#u3907_position_content
{
	margin-top: -21px;
	padding-bottom: 27px;
}

#u3912
{
	z-index: 80;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u3914
{
	z-index: 81;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u3913
{
	z-index: 82;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#pu3908-4
{
	width: 0.01px;
	margin-left: 132px;
	margin-top: 9px;
}

#u3908-4
{
	z-index: 69;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u3939-4
{
	z-index: 73;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 462px;
}

#ppu3915-6
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 18px;
}

#pu3915-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u3915-6
{
	z-index: 83;
	width: 414px;
	min-height: 48px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#u3915-4
{
	padding-bottom: 0px;
}

#u3928
{
	z-index: 91;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 1px;
	position: relative;
}

#u3922
{
	z-index: 89;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 462px;
}

#u3909
{
	z-index: 77;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 428px;
	left: 431px;
}

#u3911
{
	z-index: 78;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u3910
{
	z-index: 79;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u4053-4
{
	z-index: 93;
	width: 332px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 346px;
	margin-top: 51px;
	position: relative;
}

#pu4060
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 27px;
}

#u4060
{
	z-index: 97;
	width: 340px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4066
{
	z-index: 99;
	width: 340px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 306px;
}

#u4071
{
	z-index: 101;
	width: 340px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 610px;
}

#u4078-4
{
	z-index: 103;
	width: 309px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 358px;
	margin-top: 66px;
	position: relative;
}

#pu3852,#ppu4085
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 20px;
}

#pu4085
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u4085
{
	z-index: 107;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4107
{
	z-index: 115;
	width: 460px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 19px;
	position: relative;
}

#pu4091
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 489px;
}

#u4091
{
	z-index: 109;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4097
{
	z-index: 111;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}

#u4102
{
	z-index: 113;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 50px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 59px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u3798_img,#u2335_img
{
	padding-bottom: 5px;
}

#u3817
{
	z-index: 42;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u3817:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

