.version.blocbox /* version checker */
{
	color: #000012;
	background-color: #B329DC;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4136px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu3797
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u3797
{
	z-index: 84;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u3797-bw
{
	z-index: 84;
}

#u3804
{
	z-index: 103;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -24px;
}

#u3804:hover
{
	width: 47px;
	min-height: 0px;
	margin: 0px 0px 0px -24px;
}

#u3804_img
{
	padding: 3px 4px 8px 3px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u3801-4
{
	z-index: 91;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -193px;
}

#u3801-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -193px;
}

#u3801-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u3800-4
{
	z-index: 87;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -104px;
}

#u3800-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -104px;
}

#u3802-4
{
	z-index: 95;
	width: 56px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 52px;
}

#u3802-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 56px;
	margin: 0px 0px 0px 52px;
}

#u3803-4
{
	z-index: 99;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 128px;
}

#u3803-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 128px;
}

#u3800-4:hover p,#u3802-4:hover p,#u3803-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u3796-3
{
	z-index: 81;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u3798
{
	z-index: 85;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u3806
{
	z-index: 105;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u3806:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u3807
{
	z-index: 106;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u3807:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3791-4
{
	z-index: 17;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	color: #733D97;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3792-5
{
	z-index: 21;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	line-height: 29px;
	font-size: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u3790-13
{
	z-index: 4;
	width: 779px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 123px;
	margin-top: 49px;
	position: relative;
}

#pu3793-5
{
	width: 0.01px;
	margin-left: 346px;
	margin-top: 32px;
}

#u3793-5
{
	z-index: 26;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3793-5:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u3794-4
{
	z-index: 31;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 184px;
}

#u3794-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 1px -10000px 0px 0px;
}

#u3793-3,#u3794-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3825
{
	z-index: 36;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 40px;
	position: relative;
}

#pu3852
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 20px;
}

#u3852
{
	z-index: 38;
	width: 950px;
	background-color: #E7E2E4;
	padding-bottom: 79px;
	position: relative;
	margin-right: -10000px;
}

#u3860
{
	z-index: 49;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 19px;
}

#u3860_img
{
	margin-bottom: -2px;
}

#pu3856
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -20px;
	margin-left: 366px;
}

#u3856
{
	z-index: 42;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 66px;
	position: relative;
}

#u3858
{
	z-index: 43;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3857
{
	z-index: 44;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3859-4
{
	z-index: 45;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 20px;
	position: relative;
}

#u3853
{
	z-index: 39;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 432px;
}

#u3854
{
	z-index: 40;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3855
{
	z-index: 41;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3862
{
	z-index: 51;
	width: 320px;
	background-color: transparent;
	padding-top: 2px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 306px;
}

#u3862 img.shadow
{
	-pie-box-shadow: 0px 0px 5px 1px #9E9CA0;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
}

#u3864
{
	z-index: 53;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(62,57,66,0.5),0px 0px 8px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3860_clip,#u3864_clip
{
	overflow: hidden;
	width: 320px;
	height: 245px;
}

#u3864_img
{
	margin-top: -2px;
}

#u3866-4
{
	z-index: 55;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 57px;
	position: relative;
}

#u3894
{
	z-index: 59;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#pu3907
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 51px;
}

#u3907
{
	z-index: 61;
	width: 902px;
	background-color: #E7E2E4;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	padding: 50px 25px 56.850000000000364px 23px;
}

#u3908-4
{
	z-index: 62;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 343px;
	position: relative;
}

#ppu3915-4
{
	width: 0.01px;
	margin-top: 27px;
}

#pu3915-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u3915-4
{
	z-index: 72;
	width: 414px;
	min-height: 48px;
	background-color: transparent;
	margin-left: 14px;
	position: relative;
}

#u3915-2
{
	padding-bottom: 0px;
}

#u3928
{
	z-index: 78;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u3922
{
	z-index: 76;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 461px;
}

#u3909
{
	z-index: 66;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 432px;
}

#u3911
{
	z-index: 67;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3910
{
	z-index: 68;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3912
{
	z-index: 69;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	left: 432px;
}

#u3914
{
	z-index: 70;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3913
{
	z-index: 71;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#pu2335
{
	width: 0.01px;
	margin-top: 1454px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u3798_img,#u2335_img
{
	padding-bottom: 5px;
}

#u3817
{
	z-index: 35;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u3817:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 16px;
}

#page .verticalspacer
{
	clear: both;
}

