.version.blue_booklet /* version checker */
{
	color: #00001C;
	background-color: #270165;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3331px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 111;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 111;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 128;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 124;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 112;
	width: 80px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 184px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 0px 0px 0px 184px;
}

#u7101-4
{
	z-index: 116;
	width: 58px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 307px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px 0px 0px 307px;
}

#u7102-4
{
	z-index: 120;
	width: 105px;
	min-height: 25px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u4697
{
	z-index: 130;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4697:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4684-4
{
	z-index: 26;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u4698
{
	z-index: 131;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4698:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4685-4
{
	z-index: 30;
	width: 578px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 223px;
	margin-top: 15px;
	position: relative;
}

#u4683-11
{
	z-index: 15;
	width: 561px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 232px;
	margin-top: 59px;
	position: relative;
}

#u4735
{
	z-index: 35;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 45px;
	position: relative;
}

#pu4743
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 52px;
}

#u4743
{
	z-index: 12;
	min-height: 943.615707856479px;
	border-style: none;
	padding-bottom: 0px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
}

#u4743_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u4743_position_content
{
	margin-top: -20px;
	padding-bottom: 34px;
}

#u4747
{
	z-index: 40;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u4748
{
	z-index: 41;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u4749
{
	z-index: 42;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4750-4
{
	z-index: 43;
	width: 860px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 182px;
	margin-top: 28px;
	position: relative;
}

#pu4893
{
	width: 0.01px;
	left: 161px;
	margin-top: 35px;
	position: relative;
}

#u4893
{
	z-index: 94;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4887
{
	z-index: 92;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 208px;
}

#u4898
{
	z-index: 96;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 417px;
}

#u4785-11
{
	z-index: 53;
	width: 234px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 656px;
}

#u4785-3,#u4785-6,#u4785-9
{
	text-align: left;
}

#u4785,#u4785-4,#u4785-7
{
	font-weight: 700;
}

#ppu4827
{
	width: 0.01px;
	left: 155px;
	margin-top: 28px;
	position: relative;
}

#pu4827
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u4827
{
	z-index: 68;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4833
{
	z-index: 70;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#pu4803
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 267px;
}

#u4803
{
	z-index: 64;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4821
{
	z-index: 66;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u4844
{
	z-index: 13;
	width: 376px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 537px;
}

#u4743-bw
{
	z-index: 12;
	min-height: 943.615707856479px;
}

#u4744
{
	z-index: 37;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 923px;
	left: 568px;
}

#u4745
{
	z-index: 38;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
	border-width: 0px 0px 1px;
}

#u4746
{
	z-index: 39;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4786-4
{
	z-index: 72;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	left: 171px;
}

#u4841-4
{
	z-index: 76;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	left: 438px;
}

#u4839-4
{
	z-index: 80;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 171px;
}

#u4840-4
{
	z-index: 84;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 438px;
}

#u4843-4
{
	z-index: 88;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 712px;
}

#u4905-4
{
	z-index: 98;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 171px;
}

#u4906-4
{
	z-index: 102;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 380px;
}

#u4907-4
{
	z-index: 106;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 589px;
}

#pu4760
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 65px;
}

#u4760
{
	z-index: 47;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4766
{
	z-index: 49;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u4771
{
	z-index: 51;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 32px;
	position: relative;
}

#u4701
{
	z-index: 34;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 499px;
	margin-top: 61px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u4701:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 61px 0px 5px 499px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 11px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

