.version.blue_booklet /* version checker */
{
	color: #000015;
	background-color: #B3579D;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3321px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu7096
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u7096
{
	z-index: 113;
	height: 66px;
	top: 0px;
}

#u7096-bw
{
	z-index: 113;
}

#u7103
{
	z-index: 136;
	width: 51px;
	top: 13px;
	left: 50%;
	margin-left: -476px;
}

#u7103:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -476px;
}

#u7103_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u7100-4
{
	z-index: 124;
	width: 60px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -146px;
}

#u7100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -146px;
}

#u7099-4
{
	z-index: 116;
	width: 102px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -53px;
}

#u7099-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 102px;
	margin: 0px 0px 0px -53px;
}

#u7168-4
{
	z-index: 120;
	width: 44px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 81px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px 81px;
}

#u7101-4
{
	z-index: 128;
	width: 53px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 287px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 287px;
}

#u7102-4
{
	z-index: 132;
	width: 103px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 371px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 103px;
	margin: 0px 0px 0px 371px;
}

#u7095-3
{
	z-index: 110;
	width: 5px;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
}

#u7097
{
	z-index: 114;
	width: 1024px;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u4697
{
	z-index: 138;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4697:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4698
{
	z-index: 139;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4698:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4684-4
{
	z-index: 25;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u4685-4
{
	z-index: 29;
	width: 578px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 223px;
	margin-top: 15px;
	position: relative;
}

#u4685-2
{
	font-size: 22px;
	line-height: 29px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
}

#u4683-11
{
	z-index: 14;
	width: 561px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 232px;
	margin-top: 48px;
	position: relative;
}

#u4735
{
	z-index: 34;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 45px;
	position: relative;
}

#pu4743
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 52px;
}

#u4743
{
	z-index: 11;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u4743_position_content
{
	margin-top: -21px;
	padding-bottom: 34px;
}

#u4747
{
	z-index: 39;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u4748
{
	z-index: 40;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u4749
{
	z-index: 41;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u4750-4
{
	z-index: 42;
	width: 860px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 45px;
	margin-top: 27px;
	position: relative;
}

#pu4893
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 35px;
}

#u4893
{
	z-index: 93;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4887
{
	z-index: 91;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 208px;
}

#u4898
{
	z-index: 95;
	width: 195px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 417px;
}

#u4785-11
{
	z-index: 52;
	width: 234px;
	min-height: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 656px;
}

#u4785-3,#u4785-6,#u4785-9
{
	font-size: 17px;
	text-align: left;
	line-height: 22px;
}

#u4785,#u4785-4,#u4785-7
{
	font-weight: 700;
}

#ppu4827
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 32px;
}

#pu4827
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u4827
{
	z-index: 67;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4833
{
	z-index: 69;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#pu4803
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 267px;
}

#u4803
{
	z-index: 63;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u4821
{
	z-index: 65;
	width: 252px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 21px;
	position: relative;
}

#u4844
{
	z-index: 12;
	width: 376px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 537px;
}

#u4744
{
	z-index: 36;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 923px;
	left: 431px;
}

#u4745
{
	z-index: 37;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u4746
{
	z-index: 38;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u4786-4
{
	z-index: 71;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	left: 35px;
}

#u4841-4
{
	z-index: 75;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	left: 302px;
}

#u4839-4
{
	z-index: 79;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 35px;
}

#u4840-4
{
	z-index: 83;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 302px;
}

#u4843-4
{
	z-index: 87;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 576px;
}

#u4905-4
{
	z-index: 97;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 35px;
}

#u4906-4
{
	z-index: 101;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 244px;
}

#u4907-4
{
	z-index: 105;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 453px;
}

#pu4760
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 65px;
}

#u4760
{
	z-index: 46;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4766
{
	z-index: 48;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u4771
{
	z-index: 50;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 32px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 56px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u7097_img,#u2335_img
{
	padding-bottom: 5px;
}

#u4701
{
	z-index: 33;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u4701:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

