.version.futonland /* version checker */
{
	color: #0000EC;
	background-color: #7F8638;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2353px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu7096
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u7096
{
	z-index: 68;
	height: 66px;
	top: 0px;
}

#u7096-bw
{
	z-index: 68;
}

#u7103
{
	z-index: 91;
	width: 51px;
	top: 13px;
	left: 50%;
	margin-left: -476px;
}

#u7103:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -476px;
}

#u7103_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u7100-4
{
	z-index: 79;
	width: 60px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -146px;
}

#u7100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -146px;
}

#u7099-4
{
	z-index: 71;
	width: 102px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -53px;
}

#u7099-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 102px;
	margin: 0px 0px 0px -53px;
}

#u7168-4
{
	z-index: 75;
	width: 44px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 81px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px 81px;
}

#u7101-4
{
	z-index: 83;
	width: 53px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 287px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 287px;
}

#u7102-4
{
	z-index: 87;
	width: 103px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 371px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 103px;
	margin: 0px 0px 0px 371px;
}

#u7095-3
{
	z-index: 65;
	width: 5px;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
}

#u7097
{
	z-index: 69;
	width: 1024px;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u5490
{
	z-index: 93;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u5490:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u5477-4
{
	z-index: 22;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u5491
{
	z-index: 94;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u5491:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u5476-11
{
	z-index: 11;
	width: 543px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 241px;
	margin-top: 49px;
	position: relative;
}

#u5521
{
	z-index: 27;
	width: 960px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 35px;
	position: relative;
}

#pu5532
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 31px;
}

#u5532
{
	z-index: 29;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u5532_position_content
{
	margin-top: -21px;
	padding-bottom: 28px;
}

#u5533
{
	z-index: 30;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u5534
{
	z-index: 31;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u5535
{
	z-index: 32;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u5536-4
{
	z-index: 33;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 248px;
	margin-top: 11px;
	position: relative;
}

#pu5537-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 14px;
}

#u5537-4
{
	z-index: 37;
	width: 435px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5538-4
{
	z-index: 41;
	width: 435px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u5537-2,#u5538-2
{
	font-size: 22px;
	line-height: 29px;
	font-weight: 400;
}

#pu5595
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 254px;
}

#u5595
{
	z-index: 55;
	width: 417px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5550
{
	z-index: 47;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 440px;
}

#pu5605
{
	width: 0.01px;
	margin-left: 206px;
	margin-top: 35px;
}

#u5605
{
	z-index: 59;
	width: 257px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5575
{
	z-index: 51;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 280px;
}

#pu5600
{
	width: 0.01px;
	margin-left: 192px;
	margin-top: 34px;
}

#u5600
{
	z-index: 57;
	width: 271px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5565
{
	z-index: 49;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 294px;
}

#u5545
{
	z-index: 45;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 487px;
}

#u5589
{
	z-index: 53;
	width: 445px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 18px;
}

#u5693
{
	z-index: 61;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1117px;
	left: 431px;
}

#u5694
{
	z-index: 62;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u5695
{
	z-index: 63;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#pu2335
{
	width: 0.01px;
	margin-top: 25px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u7097_img,#u2335_img
{
	padding-bottom: 5px;
}

#u5494
{
	z-index: 26;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u5494:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

