.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u7100-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u7099-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u7168-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u7101-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u7102-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6176-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u87-4,#u96-4
{
	font-family: josefin-sans-n3, sans-serif;
}

#u2894-4,#u3017-4,#u3710-4,#u4182-4,#u6785-4,#u3893-4,#u6978-4,#u4966-4,#u5305-4,#u4916-4,#u4471-4,#u4661-4,#u6952-4,#u6951-4,#u5308-4,#u5321-4,#u5319-4
{
	font-family: vollkorn-n7, serif;
}

#u334-9
{
	font-family: rosario-n7, sans-serif;
}

#u337-5,#u332-4,#u334-7,#u334-12,#u334-17
{
	font-family: josefin-sans-n4, sans-serif;
}

