.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u6176-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6209-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6208-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6210-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6211-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6729-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u4685-2
{
	font-family: josefin-sans-n3, sans-serif;
}

