.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u2130-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u136-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u138-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u2129-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u87-4,#u96-4
{
	font-family: josefin-sans-n3, sans-serif;
}

#u337-5,#u332-4
{
	font-family: josefin-sans-n4, sans-serif;
}

#u2894-4,#u3017-4,#u3710-4,#u334-8
{
	font-family: vollkorn-n7, serif;
}

#u334-10,#u334-11
{
	font-family: rosario-n7, sans-serif;
}

