.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u6176-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6216-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6215-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6217-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6218-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6730-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u5066-2
{
	font-family: josefin-sans-n3, sans-serif;
}

