.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u6176-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u4134-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u4133-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u4135-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6725-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u4136-4
{
	font-family: josefin-sans-n6, sans-serif;
}

