.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u6176-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6237-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6236-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6238-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6239-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u6732-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u5422-2
{
	font-family: josefin-sans-n3, sans-serif;
}

