.Title
{
	font-family: josefin-sans-n4, sans-serif;
}

.sign,.text,.text-2
{
	font-family: vollkorn-n4, serif;
}

.h5
{
	font-family: josefin-sans-n7, sans-serif;
}

.bold
{
	font-family: vollkorn-n7, serif;
}

#u3520-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u3519-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u3521-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u3522-4
{
	font-family: josefin-sans-n6, sans-serif;
}

#u3513-5
{
	font-family: josefin-sans-n3, sans-serif;
}

