.version.imr /* version checker */
{
	color: #000005;
	background-color: #B2B697;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1942px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu382
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u382
{
	z-index: 18;
	height: 66px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/pattern-5.jpg") repeat left top;
}

#u382-bw
{
	z-index: 18;
}

#u385
{
	z-index: 21;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -24px;
}

#u387-4
{
	z-index: 23;
	width: 74px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -150px;
}

#u388-4
{
	z-index: 27;
	width: 72px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 75px;
}

#u383
{
	z-index: 19;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u383_img
{
	padding-right: 381px;
	padding-bottom: 11px;
}

#u391-6
{
	z-index: 12;
	width: 583px;
	min-height: 27px;
	background-color: transparent;
	text-align: center;
	margin-left: 221px;
	margin-top: 30px;
	position: relative;
}

#u391-2
{
	font-weight: 700;
}

#pu476
{
	width: 0.01px;
	padding-bottom: 25px;
	margin-top: -31px;
}

#u476
{
	z-index: 31;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: -512px;
	background: transparent url("../images/arrow-left-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u476:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px -512px;
	background: transparent url("../images/arrow-left-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u464
{
	z-index: 32;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: 462px;
	background: transparent url("../images/arrow-right-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u464:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px 462px;
	background: transparent url("../images/arrow-right-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u392
{
	z-index: 4;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	margin-left: 61px;
	margin-top: 31px;
	position: relative;
}

.border
{
	border-width: 1px;
	border-style: solid;
	border-color: #949295;
	background-color: transparent;
}

#pu398
{
	width: 0.01px;
	margin-left: 62px;
	margin-top: 29px;
}

#u398
{
	z-index: 6;
	width: 435px;
	border-width: 1px;
	border-style: solid;
	border-color: #949295;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u403
{
	z-index: 8;
	width: 435px;
	border-width: 1px;
	border-style: solid;
	border-color: #949295;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 464px;
}

#u408
{
	z-index: 10;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	border-color: #949295;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 29px;
	position: relative;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-top: 27px;
}

#u385_img,#u2335_img
{
	padding-bottom: 5px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 28px;
}

#page .verticalspacer
{
	clear: both;
}

