.version.imr /* version checker */
{
	color: #0000EB;
	background-color: #DCC9F8;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3445px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 68;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 68;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 85;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 81;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 69;
	width: 48px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 228px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 48px;
	margin: 0px 0px 0px 228px;
}

#u7101-4
{
	z-index: 73;
	width: 58px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 313px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 58px;
	margin: 0px 0px 0px 313px;
}

#u7102-4
{
	z-index: 77;
	width: 105px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u4404
{
	z-index: 87;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4404:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4392-4
{
	z-index: 27;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u4405
{
	z-index: 88;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4405:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4390-11
{
	z-index: 12;
	width: 587px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 219px;
	margin-top: 49px;
	position: relative;
}

#u4391-4
{
	z-index: 23;
	width: 152px;
	min-height: 35px;
	background-color: #66BEC0;
	border-radius: 18px;
	margin-left: 436px;
	margin-top: 15px;
	position: relative;
}

#u4391-4:hover
{
	background-color: #08A1A4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 152px;
	margin: 15px 0px 0px 436px;
}

#u4442
{
	z-index: 32;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 45px;
	position: relative;
}

#pu4477
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 33px;
}

#u4477
{
	z-index: 34;
	min-height: 993px;
	border-style: none;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
}

#u4477_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u4477_position_content
{
	margin-top: -20px;
	padding-bottom: 32px;
}

#u4481
{
	z-index: 38;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u4483
{
	z-index: 39;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u4482
{
	z-index: 40;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4484-4
{
	z-index: 41;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 502px;
	margin-top: 25px;
	position: relative;
}

#pu4492
{
	width: 0.01px;
	left: 157px;
	margin-top: 10px;
	position: relative;
}

#u4492
{
	z-index: 53;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4498
{
	z-index: 55;
	width: 590px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 314px;
}

#u4504-4
{
	z-index: 45;
	width: 460px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 382px;
	margin-top: 65px;
	position: relative;
}

#pu4505
{
	width: 0.01px;
	left: 156px;
	margin-top: 14px;
	position: relative;
}

#u4505
{
	z-index: 57;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u4511
{
	z-index: 59;
	width: 590px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 314px;
}

#u4477-bw
{
	z-index: 34;
	min-height: 993px;
}

#u4478
{
	z-index: 35;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 973px;
	left: 568px;
}

#u4480
{
	z-index: 36;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
	border-width: 0px 0px 1px;
}

#u4479
{
	z-index: 37;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4526-4
{
	z-index: 49;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 385px;
	margin-top: 58px;
	position: relative;
}

#pu4529
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 20px;
}

#u4529
{
	z-index: 61;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4535
{
	z-index: 63;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u4540
{
	z-index: 65;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 35px;
	position: relative;
}

#u4408
{
	z-index: 31;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 499px;
	margin-top: 58px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u4408:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 58px 0px 5px 499px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 11px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 21px;
}

#page .verticalspacer
{
	clear: both;
}

