.version.landing_page /* version checker */
{
	color: #0000F3;
	background-color: #CCCC35;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4709px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu4130
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u4130
{
	z-index: 116;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u4130-bw
{
	z-index: 116;
}

#u4137
{
	z-index: 135;
	width: 51px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -25px;
}

#u4137:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u4137_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u4134-4
{
	z-index: 123;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -197px;
}

#u4134-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -197px;
}

#u4134-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u4133-4
{
	z-index: 119;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -103px;
}

#u4133-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -103px;
}

#u4135-4
{
	z-index: 127;
	width: 53px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 61px;
}

#u4135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 61px;
}

#u4136-4
{
	z-index: 131;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u4136-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 148px;
}

#u4133-4:hover p,#u4135-4:hover p,#u4136-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u4129-3
{
	z-index: 113;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u4131
{
	z-index: 117;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u4139
{
	z-index: 137;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4139:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4140
{
	z-index: 138;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4140:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4124-4
{
	z-index: 34;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u4125-11
{
	z-index: 19;
	width: 597px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 49px;
	position: relative;
}

#u4127-4
{
	z-index: 30;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	margin-left: 438px;
	margin-top: 27px;
	position: relative;
}

#u4127-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 27px 0px 0px 438px;
}

#u4127-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u4161
{
	z-index: 38;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 39px;
	position: relative;
}

#pu4335
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 47px;
}

#u4335
{
	z-index: 11;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u4335_position_content
{
	margin-top: -22px;
	padding-bottom: 29px;
}

#u4336
{
	z-index: 12;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u4337
{
	z-index: 13;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u4338
{
	z-index: 14;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u4222-4
{
	z-index: 41;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 248px;
	margin-top: 13px;
	position: relative;
}

#pu4250-4
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 13px;
}

#u4250-4
{
	z-index: 70;
	width: 349px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4251-4
{
	z-index: 74;
	width: 349px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 469px;
}

#u4250-2,#u4251-2
{
	font-size: 22px;
	line-height: 29px;
	padding-bottom: 0px;
}

#pu4229
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 2px;
}

#u4229
{
	z-index: 49;
	width: 349px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4229_clip
{
	overflow: hidden;
	width: 349px;
	height: 266px;
}

#u4229_img
{
	margin-right: -5px;
}

#u4241
{
	z-index: 51;
	width: 565px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 360px;
}

#u4329-4
{
	z-index: 88;
	width: 603px;
	min-height: 57px;
	background-color: transparent;
	margin-left: 173px;
	margin-top: 27px;
	position: relative;
}

#u4329-2
{
	font-size: 22px;
	line-height: 27px;
	padding-bottom: 0px;
}

#u4283
{
	z-index: 78;
	width: 349px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4247-17
{
	z-index: 53;
	width: 549px;
	min-height: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 372px;
}

#u4247-3,#u4247-6,#u4247-9,#u4247-12,#u4247-15
{
	text-align: left;
}

#u4247,#u4247-4,#u4247-7,#u4247-10,#u4247-13
{
	font-weight: 700;
}

#pu4283,#pu4305
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 28px;
}

#u4305
{
	z-index: 80;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4311
{
	z-index: 82;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 469px;
}

#pu4316
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 34px;
}

#u4316
{
	z-index: 84;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4321
{
	z-index: 86;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 469px;
}

#u4321_img
{
	padding-right: 1px;
}

#u4214
{
	z-index: 15;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1236px;
	left: 431px;
}

#u4215
{
	z-index: 16;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u4216
{
	z-index: 17;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u4344-4
{
	z-index: 92;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 502px;
	left: 20px;
}

#u4345-4
{
	z-index: 96;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 20px;
}

#u4347-4
{
	z-index: 100;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1029px;
	left: 19px;
}

#u4346-4
{
	z-index: 104;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 777px;
	left: 490px;
}

#u4348-4
{
	z-index: 108;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1029px;
	left: 489px;
}

#u4339-4
{
	z-index: 45;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 64px;
	position: relative;
}

#u4169
{
	z-index: 40;
	width: 819px;
	height: 2138px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-left: 102px;
	margin-top: 20px;
	position: relative;
	background: transparent url("../images/lp-1-min.jpg") no-repeat left top;
}

#pu2335
{
	width: 0.01px;
	margin-top: 30px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u4131_img,#u2335_img
{
	padding-bottom: 5px;
}

#u4143
{
	z-index: 18;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u4143:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

