.version.landing_pages /* version checker */
{
	color: #0000FE;
	background-color: #90C687;
}

.html
{
	background-color: #EAEAEA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3435px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu641
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u641
{
	z-index: 17;
	height: 66px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/pattern-5.jpg") repeat left top;
}

#u641-bw
{
	z-index: 17;
}

#u644
{
	z-index: 20;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -24px;
}

#u646-4
{
	z-index: 22;
	width: 74px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #939495;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -150px;
}

#u647-4
{
	z-index: 26;
	width: 72px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	color: #939495;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 75px;
}

#u642
{
	z-index: 18;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u642_img
{
	padding-right: 381px;
	padding-bottom: 8px;
}

#u640
{
	z-index: 16;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: -512px;
	background: transparent url("../images/arrow-left-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u640:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px -512px;
	background: transparent url("../images/arrow-left-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1368-5
{
	z-index: 6;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	margin-left: 206px;
	margin-top: 48px;
	position: relative;
}

#u1368
{
	font-family: rosario, sans-serif;
	font-weight: 700;
}

#u639
{
	z-index: 15;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: 462px;
	background: transparent url("../images/arrow-right-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u639:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px 462px;
	background: transparent url("../images/arrow-right-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1367
{
	z-index: 4;
	width: 900px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAEAEA),color-stop(100%, #C8C8C8));
	background: -webkit-linear-gradient(top,#EAEAEA ,#C8C8C8 100%);
	background: linear-gradient(to bottom,#EAEAEA ,#C8C8C8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEAEAEA, endColorstr=#FFC8C8C8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEAEAEA', endColorstr='#FFC8C8C8', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	padding-bottom: 22px;
	margin-left: 61px;
	margin-top: 14px;
	position: relative;
}

#u1369
{
	z-index: 11;
	width: 800px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 50px;
}

#u1376
{
	z-index: 5;
	width: 900px;
	background: -webkit-gradient(linear, center top, center bottom, from(#EAEAEA),color-stop(100%, #C8C8C8));
	background: -webkit-linear-gradient(top,#EAEAEA ,#C8C8C8 100%);
	background: linear-gradient(to bottom,#EAEAEA ,#C8C8C8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEAEAEA, endColorstr=#FFC8C8C8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEAEAEA', endColorstr='#FFC8C8C8', GradientType=0)";
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	padding-bottom: 20px;
	margin-left: 61px;
	margin-top: 28px;
	position: relative;
}

#u1381
{
	z-index: 13;
	width: 800px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 50px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-top: 23px;
}

#u644_img,#u2335_img
{
	padding-bottom: 5px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 16px;
}

#page .verticalspacer
{
	clear: both;
}

