.version.landing_page /* version checker */
{
	color: #000001;
	background-color: #CCBB02;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4773px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 114;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 114;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 131;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 127;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 115;
	width: 48px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 228px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 48px;
	margin: 0px 0px 0px 228px;
}

#u7101-4
{
	z-index: 119;
	width: 58px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 313px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 58px;
	margin: 0px 0px 0px 313px;
}

#u7102-4
{
	z-index: 123;
	width: 105px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u4139
{
	z-index: 133;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4139:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4124-4
{
	z-index: 35;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u4140
{
	z-index: 134;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4140:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4125-11
{
	z-index: 20;
	width: 597px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 49px;
	position: relative;
}

#u4127-4
{
	z-index: 31;
	width: 152px;
	min-height: 35px;
	background-color: #66BEC0;
	border-radius: 18px;
	margin-left: 436px;
	margin-top: 27px;
	position: relative;
}

#u4127-4:hover
{
	background-color: #08A1A4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 152px;
	margin: 27px 0px 0px 436px;
}

#u4161
{
	z-index: 39;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 39px;
	position: relative;
}

#pu4335
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 37px;
}

#u4335
{
	z-index: 12;
	min-height: 1274.9781536296925px;
	border-style: none;
	padding-bottom: 0px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
}

#u4335_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u4335_position_content
{
	margin-top: -21px;
	padding-bottom: 37px;
}

#u4336
{
	z-index: 13;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u4337
{
	z-index: 14;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u4338
{
	z-index: 15;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4222-4
{
	z-index: 42;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 385px;
	margin-top: 24px;
	position: relative;
}

#pu4229
{
	width: 0.01px;
	left: 148px;
	margin-top: 44px;
	position: relative;
}

#u4229
{
	z-index: 50;
	width: 349px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4229_clip
{
	overflow: hidden;
	width: 349px;
	height: 266px;
}

#u4229_img
{
	margin-right: -5px;
}

#u4241
{
	z-index: 52;
	width: 565px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 360px;
}

#u4329-4
{
	z-index: 89;
	width: 603px;
	min-height: 57px;
	background-color: transparent;
	left: 310px;
	margin-top: 27px;
	position: relative;
}

#pu4283
{
	width: 0.01px;
	left: 147px;
	margin-top: 27px;
	position: relative;
}

#u4283
{
	z-index: 79;
	width: 349px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4247-17
{
	z-index: 54;
	width: 549px;
	min-height: 222px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 372px;
}

#u4247-3,#u4247-6,#u4247-9,#u4247-12,#u4247-15
{
	text-align: left;
}

#u4247,#u4247-4,#u4247-7,#u4247-10,#u4247-13
{
	font-weight: 700;
}

#pu4305
{
	width: 0.01px;
	left: 147px;
	margin-top: 28px;
	position: relative;
}

#u4305
{
	z-index: 81;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4311
{
	z-index: 83;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 469px;
}

#pu4316
{
	width: 0.01px;
	left: 147px;
	margin-top: 34px;
	position: relative;
}

#u4316
{
	z-index: 85;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4321
{
	z-index: 87;
	width: 458px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 469px;
}

#u4321_img
{
	padding-right: 1px;
}

#u4335-bw
{
	z-index: 12;
	min-height: 1274.9781536296925px;
}

#u4214
{
	z-index: 16;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1255px;
	left: 568px;
}

#u4215
{
	z-index: 17;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
	border-width: 0px 0px 1px;
}

#u4216
{
	z-index: 18;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u4250-4
{
	z-index: 71;
	width: 349px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 148px;
}

#u4251-4
{
	z-index: 75;
	width: 349px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 617px;
}

#u4250-2,#u4251-2
{
	font-size: 22px;
	line-height: 29px;
}

#u4344-4
{
	z-index: 93;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 512px;
	left: 156px;
}

#u4345-4
{
	z-index: 97;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 787px;
	left: 156px;
}

#u4347-4
{
	z-index: 101;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1039px;
	left: 155px;
}

#u4346-4
{
	z-index: 105;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 787px;
	left: 626px;
}

#u4348-4
{
	z-index: 109;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1039px;
	left: 625px;
}

#u4339-4
{
	z-index: 46;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 55px;
	position: relative;
}

#u4169
{
	z-index: 41;
	width: 819px;
	height: 2201px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-left: 102px;
	margin-top: 20px;
	position: relative;
	background: transparent url("../images/lp-1-min.jpg") no-repeat left top;
}

#u4143
{
	z-index: 19;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 499px;
	margin-top: 35px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u4143:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 35px 0px 5px 499px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 2px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

