.version.lots_of_loops /* version checker */
{
	color: #00001F;
	background-color: #9CBEFA;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 5117px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu3516
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u3516
{
	z-index: 129;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u3516-bw
{
	z-index: 129;
}

#u6268
{
	z-index: 150;
	width: 51px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -25px;
}

#u6268:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u6268_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u6265-4
{
	z-index: 138;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -197px;
}

#u6265-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -197px;
}

#u6265-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u6264-4
{
	z-index: 134;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -103px;
}

#u6264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -103px;
}

#u6266-4
{
	z-index: 142;
	width: 53px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 61px;
}

#u6266-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 61px;
}

#u6267-4
{
	z-index: 146;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6267-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 148px;
}

#u6264-4:hover p,#u6266-4:hover p,#u6267-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u3515-3
{
	z-index: 126;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u3517
{
	z-index: 130;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u3525
{
	z-index: 132;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u3525:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u3526
{
	z-index: 133;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u3526:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3512-4
{
	z-index: 26;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3513-5
{
	z-index: 30;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	line-height: 29px;
	font-size: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u3510-15
{
	z-index: 11;
	width: 703px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 161px;
	margin-top: 49px;
	position: relative;
}

#pu3529-5
{
	width: 0.01px;
	margin-left: 345px;
	margin-top: 24px;
}

#u3529-5
{
	z-index: 35;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
}

#u3529-5:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u3635-4
{
	z-index: 40;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 184px;
}

#u3635-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 1px -10000px 0px 0px;
}

#u3529-3,#u3635-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3553
{
	z-index: 62;
	width: 950px;
	background-color: transparent;
	margin-left: 49px;
	margin-top: 46px;
	position: relative;
}

#pu3535
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 57px;
}

#u3535
{
	z-index: 44;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 81px;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u3564
{
	z-index: 64;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 18px;
}

#pu3539
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -21px;
	margin-left: 365px;
}

#u3539
{
	z-index: 52;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 65px;
	position: relative;
}

#u3540
{
	z-index: 53;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u3541
{
	z-index: 54;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3542-4
{
	z-index: 58;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 19px;
	position: relative;
}

#u3536
{
	z-index: 46;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 431px;
}

#u3537
{
	z-index: 47;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u3538
{
	z-index: 48;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3570
{
	z-index: 66;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 315px;
}

#u3575
{
	z-index: 68;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(62,57,66,0.5),0px 0px 8px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3586-4
{
	z-index: 70;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 70px;
	position: relative;
}

#u3811
{
	z-index: 119;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 14px;
	position: relative;
}

#pu3606
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 104px;
}

#u3606
{
	z-index: 45;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

#u3606_position_content
{
	margin-top: -21px;
	padding-bottom: 30px;
}

#u3607
{
	z-index: 55;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u3609
{
	z-index: 56;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u3608
{
	z-index: 57;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#pu3611-4
{
	width: 0.01px;
	margin-left: 125px;
	margin-top: -5px;
}

#u3611-4
{
	z-index: 78;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u3625-4
{
	z-index: 82;
	width: 332px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 421px;
}

#ppu3612-4
{
	width: 0.01px;
	margin-left: 15px;
	margin-top: 18px;
}

#pu3612-4
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u3612-4
{
	z-index: 86;
	width: 435px;
	min-height: 68px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u3612-2
{
	padding-bottom: 0px;
}

#u3613
{
	z-index: 90;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u3723-4
{
	z-index: 112;
	width: 377px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 33px;
	margin-top: 34px;
	position: relative;
}

#u3619
{
	z-index: 92;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u3729
{
	z-index: 116;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u3603
{
	z-index: 49;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 815px;
	left: 431px;
}

#u3604
{
	z-index: 50;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u3605
{
	z-index: 51;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3587-4
{
	z-index: 74;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 68px;
	position: relative;
}

#pu3655
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 20px;
}

#u3655
{
	z-index: 94;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu3666
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -1px -10000px -1px 489px;
}

#u3666
{
	z-index: 98;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u3688
{
	z-index: 104;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#pu3671
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 12px;
}

#u3671
{
	z-index: 100;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: -1px;
}

#pu3661
{
	width: 0.01px;
	margin: -1px -10000px -1px 489px;
}

#u3661
{
	z-index: 96;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u3676
{
	z-index: 102;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u3716-4
{
	z-index: 108;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 130px;
	margin-top: 71px;
	position: relative;
}

#u4204-4
{
	z-index: 121;
	width: 944px;
	min-height: 18px;
	background-color: transparent;
	margin-left: 41px;
	margin-top: 10px;
	position: relative;
}

#u3714
{
	z-index: 106;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 5px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 44px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u3517_img,#u2335_img
{
	padding-bottom: 5px;
}

#u3552
{
	z-index: 118;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u3552:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

