.version.lots_of_loops /* version checker */
{
	color: #00000E;
	background-color: #03AA54;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 5134px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu3516
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u3516
{
	z-index: 116;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u3516-bw
{
	z-index: 116;
}

#u3523
{
	z-index: 135;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -24px;
}

#u3523:hover
{
	width: 47px;
	min-height: 0px;
	margin: 0px 0px 0px -24px;
}

#u3523_img
{
	padding: 3px 4px 8px 3px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u3520-4
{
	z-index: 123;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -193px;
}

#u3520-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -193px;
}

#u3520-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u3519-4
{
	z-index: 119;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -104px;
}

#u3519-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -104px;
}

#u3521-4
{
	z-index: 127;
	width: 56px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 52px;
}

#u3521-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 56px;
	margin: 0px 0px 0px 52px;
}

#u3522-4
{
	z-index: 131;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	line-height: 22px;
	text-align: left;
	font-size: 18px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 128px;
}

#u3522-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 128px;
}

#u3519-4:hover p,#u3521-4:hover p,#u3522-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u3515-3
{
	z-index: 113;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u3517
{
	z-index: 117;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u3525
{
	z-index: 137;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u3525:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u3526
{
	z-index: 138;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u3526:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3512-4
{
	z-index: 17;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	color: #733D97;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3513-5
{
	z-index: 21;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	line-height: 29px;
	font-size: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u3510-13
{
	z-index: 4;
	width: 759px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 133px;
	margin-top: 49px;
	position: relative;
}

#u3529-5
{
	z-index: 26;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	margin-left: 438px;
	margin-top: 32px;
	position: relative;
}

#u3529-5:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 32px 0px 0px 438px;
}

#u3553
{
	z-index: 53;
	width: 950px;
	background-color: transparent;
	margin-left: 49px;
	margin-top: 57px;
	position: relative;
}

#pu3535
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 57px;
}

#u3535
{
	z-index: 35;
	width: 950px;
	background-color: #E7E2E4;
	padding-bottom: 81px;
	position: relative;
	margin-right: -10000px;
}

#u3564
{
	z-index: 55;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 19px;
}

#pu3539
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -20px;
	margin-left: 366px;
}

#u3539
{
	z-index: 43;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 66px;
	position: relative;
}

#u3540
{
	z-index: 44;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3541
{
	z-index: 45;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3542-4
{
	z-index: 49;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 20px;
	position: relative;
}

#u3536
{
	z-index: 37;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 432px;
}

#u3537
{
	z-index: 38;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3538
{
	z-index: 39;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3570
{
	z-index: 57;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 306px;
}

#u3575
{
	z-index: 59;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(62,57,66,0.5),0px 0px 8px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3586-4
{
	z-index: 61;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 70px;
	position: relative;
}

#u3590
{
	z-index: 69;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 19px;
	position: relative;
}

#pu3606
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 76px;
}

#u3606
{
	z-index: 36;
	width: 950px;
	background-color: #E7E2E4;
	position: relative;
	margin-right: -10000px;
}

#u3606_position_content
{
	margin-top: -20px;
	padding-bottom: 30px;
}

#u3607
{
	z-index: 46;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 432px;
	position: relative;
}

#u3609
{
	z-index: 47;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3608
{
	z-index: 48;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#pu3611-4
{
	width: 0.01px;
	margin-left: 126px;
	margin-top: -4px;
}

#u3611-4
{
	z-index: 71;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u3625-4
{
	z-index: 75;
	width: 332px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 421px;
}

#ppu3612-4
{
	width: 0.01px;
	margin-left: 16px;
	margin-top: 18px;
}

#pu3612-4
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: -1px;
}

#u3612-4
{
	z-index: 79;
	width: 435px;
	min-height: 68px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u3612-2
{
	padding-bottom: 0px;
}

#u3613
{
	z-index: 83;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u3723-4
{
	z-index: 105;
	width: 377px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 33px;
	margin-top: 34px;
	position: relative;
}

#u3619
{
	z-index: 85;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u3729
{
	z-index: 109;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 474px;
}

#u3603
{
	z-index: 40;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 816px;
	left: 432px;
}

#u3604
{
	z-index: 41;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3605
{
	z-index: 42;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3635-4
{
	z-index: 31;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	margin-left: 438px;
	margin-top: 61px;
	position: relative;
}

#u3635-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 61px 0px 0px 438px;
}

#u3529-3,#u3635-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3587-4
{
	z-index: 65;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 40px;
	position: relative;
}

#pu3655
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 20px;
}

#u3655
{
	z-index: 87;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu3666
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -1px -10000px -1px 488px;
}

#u3666
{
	z-index: 91;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u3688
{
	z-index: 97;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#pu3671
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 12px;
}

#u3671
{
	z-index: 93;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: -1px;
}

#pu3661
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -1px -10000px -1px 489px;
}

#u3661
{
	z-index: 89;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u3676
{
	z-index: 95;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u3716-4
{
	z-index: 101;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 130px;
	margin-top: 73px;
	position: relative;
}

#u3714
{
	z-index: 99;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 15px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 53px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u3517_img,#u2335_img
{
	padding-bottom: 5px;
}

#u3552
{
	z-index: 111;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u3552:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 16px;
}

#page .verticalspacer
{
	clear: both;
}

