#u7096
{
	background-color: #EEEEEE;
	position: fixed;
}

#u7103
{
	background-color: transparent;
	position: fixed;
}

#u7100-4
{
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: center;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7100-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u7099-4
{
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: center;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7168-4
{
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: center;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7101-4
{
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: center;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7102-4
{
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: center;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7099-4:hover p,#u7168-4:hover p,#u7101-4:hover p,#u7102-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u7095-3
{
	background-color: transparent;
	position: relative;
}

#u7097
{
	background-color: transparent;
	position: fixed;
}

#u2335
{
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,1024,20);
	-ms-transform: matrix(-1,0,0,-1,1024,20);
	transform: matrix(-1,0,0,-1,1024,20);
	position: relative;
}

#u6176-4
{
	background-color: transparent;
	color: #949295;
	text-align: right;
	line-height: 19px;
	font-size: 15px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6568
{
	position: relative;
	background: transparent url("../images/email-layer%200%20copy.png") no-repeat left top;
	background-size: contain;
}

#u6568:hover
{
	background: transparent url("../images/email-layer%200.png") no-repeat left top;
	background-size: contain;
}

#u6531
{
	position: relative;
	background: transparent url("../images/linkedin-layer%200.png") no-repeat left top;
	background-size: contain;
}

#u6531:hover
{
	background: transparent url("../images/linkedin-u6531-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u6508
{
	position: relative;
	background: transparent url("../images/facebook-layer%201.png") no-repeat left top;
	background-size: contain;
}

#u6508:hover
{
	background: transparent url("../images/facebook-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

