#u2335
{
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,1024,20);
	-ms-transform: matrix(-1,0,0,-1,1024,20);
	transform: matrix(-1,0,0,-1,1024,20);
	position: relative;
}

#u6176-4
{
	background-color: transparent;
	color: #949295;
	line-height: 19px;
	text-align: right;
	font-size: 15px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u6568
{
	position: relative;
	background: transparent url("../images/email-layer%200%20copy.png") no-repeat left top;
	background-size: contain;
}

#u6568:hover
{
	background: transparent url("../images/email-layer%200.png") no-repeat left top;
	background-size: contain;
}

#u6531
{
	position: relative;
	background: transparent url("../images/linkedin-layer%200.png") no-repeat left top;
	background-size: contain;
}

#u6531:hover
{
	background: transparent url("../images/linkedin-u6531-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u6508
{
	position: relative;
	background: transparent url("../images/facebook-layer%201.png") no-repeat left top;
	background-size: contain;
}

#u6508:hover
{
	background: transparent url("../images/facebook-layer%201%20copy.png") no-repeat left top;
	background-size: contain;
}

