#u7096
{
	-pie-box-shadow: 0px 1px 10px #C9C8CA;
	box-shadow: 0px 1px 10px rgba(148,146,149,0.5);
	background-color: #FCFCFC;
	position: fixed;
}

#u7724
{
	background-color: transparent;
	position: fixed;
}

#u7640-4
{
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #949295;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: fixed;
}

#u7168-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	color: #949295;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7101-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	color: #949295;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7102-4
{
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	color: #949295;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
}

#u7168-4:hover p,#u7101-4:hover p,#u7102-4:hover p
{
	color: #66BEC0;
	visibility: inherit;
}

#u7669
{
	background-color: #3E3942;
}

#u7669_align_to_page
{
	position: relative;
}

#u7762
{
	background-color: transparent;
	position: relative;
}

#u6176-4
{
	background-color: transparent;
	line-height: 18px;
	text-align: left;
	font-size: 14px;
	color: #C8C8C8;
	font-family: josefin-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7855
{
	position: relative;
	background: transparent url("../images/email.png") no-repeat left top;
	background-size: contain;
}

#u7855:hover
{
	background: transparent url("../images/email--group-%20copy.png") no-repeat left top;
	background-size: contain;
}

#u7870
{
	position: relative;
	background: transparent url("../images/linkedin-u7870-fr.png") no-repeat left top;
	background-size: contain;
}

#u7870:hover
{
	background: transparent url("../images/linkedin--group-%20copy.png") no-repeat left top;
	background-size: contain;
}

#u7883
{
	position: relative;
	background: transparent url("../images/facebook-u7883-fr.png") no-repeat left top;
	background-size: contain;
}

#u7883:hover
{
	background: transparent url("../images/facebook-u7883-r-fr.png") no-repeat left top;
	background-size: contain;
}

