.version.myanmar /* version checker */
{
	color: #000018;
	background-color: #5DECD8;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 6329px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 95;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 95;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 112;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 108;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 96;
	width: 48px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 228px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 48px;
	margin: 0px 0px 0px 228px;
}

#u7101-4
{
	z-index: 100;
	width: 58px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 313px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 58px;
	margin: 0px 0px 0px 313px;
}

#u7102-4
{
	z-index: 104;
	width: 105px;
	min-height: 23px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u2714
{
	z-index: 114;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u2714:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u2564-4
{
	z-index: 14;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u2719
{
	z-index: 115;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u2719:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3250-5
{
	z-index: 75;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 294px;
	position: relative;
}

#u2749-13
{
	z-index: 34;
	width: 669px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 177px;
	margin-top: 49px;
	position: relative;
}

#u2902-4
{
	z-index: 59;
	width: 152px;
	min-height: 35px;
	background-color: #66BEC0;
	border-radius: 18px;
	margin-left: 436px;
	margin-top: 19px;
	position: relative;
}

#u2902-4:hover
{
	background-color: #08A1A4;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 152px;
	margin: 19px 0px 0px 436px;
}

#u3272
{
	z-index: 80;
	width: 820px;
	background-color: transparent;
	margin-left: 113px;
	margin-top: 43px;
	position: relative;
}

#pu2789
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 64px;
}

#u2789
{
	z-index: 13;
	min-height: 481.60630725938586px;
	border-style: none;
	padding-bottom: 0px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
}

#u2789_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u2789_position_content
{
	margin-top: -20px;
	padding-bottom: 329px;
}

#u2849
{
	z-index: 53;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u2850
{
	z-index: 54;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u2851
{
	z-index: 55;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u2745-4
{
	z-index: 18;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 502px;
	margin-top: 25px;
	position: relative;
}

#u2914-6
{
	z-index: 63;
	width: 858px;
	min-height: 48px;
	background-color: transparent;
	left: 185px;
	margin-top: 16px;
	position: relative;
}

#u2914-2
{
	padding-bottom: 0px;
}

#u2789-bw
{
	z-index: 13;
	min-height: 481.60630725938586px;
}

#u2848
{
	z-index: 50;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 461px;
	left: 568px;
}

#u2846
{
	z-index: 51;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
	border-width: 0px 0px 1px;
}

#u2847
{
	z-index: 52;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3281
{
	z-index: 82;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 624px;
}

#u5795
{
	z-index: 93;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 155px;
}

#u2757-4
{
	z-index: 26;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	margin-left: 131px;
	margin-top: 64px;
	position: relative;
}

#pu3316
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 19px;
}

#u3316
{
	z-index: 84;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu2764
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 489px;
}

#u2764
{
	z-index: 47;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
}

#u2790
{
	z-index: 12;
	width: 459px;
	border-style: none;
	margin-left: 2px;
	margin-top: 43px;
	position: relative;
}

#u2790_position_content
{
	margin-top: -21px;
	padding-bottom: 19px;
}

#u2871
{
	z-index: 56;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
}

#u2873
{
	z-index: 57;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u2872
{
	z-index: 58;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u2788-4
{
	z-index: 22;
	width: 377px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 29px;
	margin-top: 8px;
	position: relative;
}

#u3324
{
	z-index: 86;
	width: 410px;
	background-color: transparent;
	margin-left: 25px;
	margin-top: 13px;
	position: relative;
}

#u2773-4
{
	z-index: 30;
	width: 695px;
	min-height: 30px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 165px;
	margin-top: 81px;
	position: relative;
}

#u4412
{
	z-index: 92;
	width: 819px;
	height: 2232px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	margin-left: 102px;
	margin-top: 13px;
	position: relative;
	background: transparent url("../images/myanmar-mockup-3-min.jpg") no-repeat center center;
}

#u2931-4
{
	z-index: 71;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 130px;
	margin-top: 70px;
	position: relative;
}

#u4144-4
{
	z-index: 88;
	width: 944px;
	min-height: 18px;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 10px;
	position: relative;
}

#u2919
{
	z-index: 69;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 5px;
	position: relative;
}

#u2791
{
	z-index: 116;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 498px;
	margin-top: 58px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u2791:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 58px 0px 5px 498px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 22px;
}

#page .verticalspacer
{
	clear: both;
}

