.version.paycrave /* version checker */
{
	color: #0000E8;
	background-color: #A3DAFA;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3441px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu7096
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u7096
{
	z-index: 97;
	height: 66px;
	top: 0px;
}

#u7096-bw
{
	z-index: 97;
}

#u7103
{
	z-index: 120;
	width: 51px;
	top: 13px;
	left: 50%;
	margin-left: -476px;
}

#u7103:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -476px;
}

#u7103_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u7100-4
{
	z-index: 108;
	width: 60px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -146px;
}

#u7100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -146px;
}

#u7099-4
{
	z-index: 100;
	width: 102px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -53px;
}

#u7099-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 102px;
	margin: 0px 0px 0px -53px;
}

#u7168-4
{
	z-index: 104;
	width: 44px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 81px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px 81px;
}

#u7101-4
{
	z-index: 112;
	width: 53px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 287px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 287px;
}

#u7102-4
{
	z-index: 116;
	width: 103px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 371px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 103px;
	margin: 0px 0px 0px 371px;
}

#u7095-3
{
	z-index: 94;
	width: 5px;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
}

#u7097
{
	z-index: 98;
	width: 1024px;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u2951
{
	z-index: 122;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u2951:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u2952
{
	z-index: 123;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u2952:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3264-4
{
	z-index: 47;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3265-4
{
	z-index: 51;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	line-height: 29px;
	font-size: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u2938-13
{
	z-index: 12;
	width: 759px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 133px;
	margin-top: 49px;
	position: relative;
}

#u2940-4
{
	z-index: 25;
	width: 152px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 18px;
	margin-left: 436px;
	margin-top: 20px;
	position: relative;
}

#u2940-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 152px;
	margin: 20px 0px 0px 436px;
}

#u2940-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3404
{
	z-index: 57;
	width: 637px;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 55px;
	position: relative;
}

#pu3065
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 29px;
}

#u3065
{
	z-index: 11;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 100px;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u3074
{
	z-index: 43;
	width: 321px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 17px;
}

#u3074_img
{
	padding-left: 1px;
	padding-bottom: 1px;
}

#pu3069
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -21px;
	margin-left: 365px;
}

#u3069
{
	z-index: 36;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 65px;
	position: relative;
}

#u3070
{
	z-index: 37;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u3071
{
	z-index: 38;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3072-4
{
	z-index: 39;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-top: 19px;
	position: relative;
}

#u3066
{
	z-index: 33;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 431px;
}

#u3067
{
	z-index: 34;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u3068
{
	z-index: 35;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u3080
{
	z-index: 45;
	width: 320px;
	border-color: #C8C8C8;
	background-color: transparent;
	padding-left: 1px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 305px;
}

#u3080 img.shadow
{
	-pie-box-shadow: 0px 0px 5px 1px #9E9CA0;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
}

#u3367
{
	z-index: 55;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3045-4
{
	z-index: 29;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 49px;
	position: relative;
}

#u3944
{
	z-index: 91;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 17px;
	position: relative;
}

#u3470-4
{
	z-index: 63;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 73px;
	position: relative;
}

#pu3483
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 19px;
}

#u3483
{
	z-index: 59;
	width: 950px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3495-4
{
	z-index: 67;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 56px;
}

#u3496-4
{
	z-index: 75;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 351px;
}

#u3498-4
{
	z-index: 83;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 645px;
}

#pu3489
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 6px;
}

#u3489
{
	z-index: 61;
	width: 950px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3501-4
{
	z-index: 71;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 55px;
}

#u3502-4
{
	z-index: 79;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 350px;
}

#u3503-4
{
	z-index: 87;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 644px;
}

#pu2335
{
	width: 0.01px;
	margin-top: -6px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u7097_img,#u2335_img
{
	padding-bottom: 5px;
}

#u2971
{
	z-index: 124;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u2971:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

