.version.paycrave /* version checker */
{
	color: #000011;
	background-color: #DBFD63;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3441px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu2942
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u2942
{
	z-index: 90;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u2942-bw
{
	z-index: 90;
}

#u2949
{
	z-index: 109;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -24px;
}

#u2949:hover
{
	width: 47px;
	min-height: 0px;
	margin: 0px 0px 0px -24px;
}

#u2949_img
{
	padding: 3px 4px 8px 3px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u2946-4
{
	z-index: 97;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -193px;
}

#u2946-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -193px;
}

#u2946-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u2945-4
{
	z-index: 93;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: right;
	font-size: 18px;
	line-height: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -104px;
}

#u2945-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -104px;
}

#u2947-4
{
	z-index: 101;
	width: 56px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 52px;
}

#u2947-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 56px;
	margin: 0px 0px 0px 52px;
}

#u2948-4
{
	z-index: 105;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: left;
	font-size: 18px;
	line-height: 22px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 128px;
}

#u2948-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 128px;
}

#u2945-4:hover p,#u2947-4:hover p,#u2948-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u2941-3
{
	z-index: 87;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u2943
{
	z-index: 91;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u2951
{
	z-index: 111;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u2951:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u2952
{
	z-index: 112;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u2952:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u3264-4
{
	z-index: 40;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	color: #733D97;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u3265-4
{
	z-index: 44;
	width: 436px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	color: #3E3942;
	font-size: 22px;
	line-height: 29px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
	margin-left: 294px;
	position: relative;
}

#u2938-13
{
	z-index: 5;
	width: 759px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 133px;
	margin-top: 49px;
	position: relative;
}

#u2940-4
{
	z-index: 18;
	width: 148px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 8px;
	margin-left: 438px;
	margin-top: 20px;
	position: relative;
}

#u2940-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 148px;
	margin: 20px 0px 0px 438px;
}

#u2940-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u3404
{
	z-index: 50;
	width: 637px;
	background-color: transparent;
	margin-left: 194px;
	margin-top: 56px;
	position: relative;
}

#pu3065
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 29px;
}

#u3065
{
	z-index: 4;
	width: 950px;
	background-color: #E7E2E4;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u3065_position_content
{
	margin-top: -20px;
	margin-bottom: -3px;
}

#u3069
{
	z-index: 29;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 432px;
	position: relative;
}

#u3070
{
	z-index: 30;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3071
{
	z-index: 31;
	width: 51px;
	height: 23px;
	background-color: #EEEEEE;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#pu3074
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 20px;
}

#u3074
{
	z-index: 36;
	width: 321px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3074_img
{
	padding-left: 1px;
	padding-bottom: 1px;
}

#u3072-4
{
	z-index: 32;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u3066
{
	z-index: 26;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 432px;
	margin-top: 59px;
	position: relative;
}

#u3067
{
	z-index: 27;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u3068
{
	z-index: 28;
	width: 51px;
	height: 23px;
	background-color: #E7E2E4;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u3080
{
	z-index: 38;
	width: 320px;
	border-color: #C8C8C8;
	background-color: transparent;
	padding-left: 1px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 305px;
}

#u3080 img.shadow
{
	-pie-box-shadow: 0px 0px 5px 1px #9E9CA0;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
}

#u3367
{
	z-index: 48;
	width: 320px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 5px rgba(62,57,66,0.5),0px 0px 5px rgba(62,57,66,0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 613px;
}

#u3045-4
{
	z-index: 22;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 73px;
	position: relative;
}

#u3944
{
	z-index: 84;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 17px;
	position: relative;
}

#u3470-4
{
	z-index: 56;
	width: 763px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 131px;
	margin-top: 73px;
	position: relative;
}

#pu3483
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 19px;
}

#u3483
{
	z-index: 52;
	width: 950px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3495-4
{
	z-index: 60;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 56px;
}

#u3496-4
{
	z-index: 68;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 351px;
}

#u3498-4
{
	z-index: 76;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 645px;
}

#pu3489
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 6px;
}

#u3489
{
	z-index: 54;
	width: 950px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3501-4
{
	z-index: 64;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 55px;
}

#u3502-4
{
	z-index: 72;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 350px;
}

#u3503-4
{
	z-index: 80;
	width: 249px;
	min-height: 21px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 644px;
}

#pu2335
{
	width: 0.01px;
	margin-top: -6px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u2943_img,#u2335_img
{
	padding-bottom: 5px;
}

#u2971
{
	z-index: 113;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u2971:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 16px;
}

#page .verticalspacer
{
	clear: both;
}

