.version.print_ads /* version checker */
{
	color: #000015;
	background-color: #AE089D;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 3886px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 244;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 244;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 261;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 257;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 245;
	width: 80px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 184px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 0px 0px 0px 184px;
}

#u7101-4
{
	z-index: 249;
	width: 58px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 307px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px 0px 0px 307px;
}

#u7102-4
{
	z-index: 253;
	width: 105px;
	min-height: 25px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u4958
{
	z-index: 263;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4958:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4945-4
{
	z-index: 23;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u4959
{
	z-index: 264;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4959:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4944-11
{
	z-index: 12;
	width: 531px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 247px;
	margin-top: 49px;
	position: relative;
}

#u5817
{
	z-index: 143;
	width: 970px;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 30px;
	position: relative;
}

#pu5772
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 54px;
}

#u5772
{
	z-index: 28;
	min-height: 647.8157078564781px;
	border-style: none;
	padding-bottom: 0px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
}

#u5772_position_content
{
	margin-top: -20px;
	padding-bottom: 34px;
}

#u5776
{
	z-index: 36;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u5777
{
	z-index: 37;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u5778
{
	z-index: 38;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u5779-4
{
	z-index: 42;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	left: 385px;
	margin-top: 23px;
	position: relative;
}

#pu5780-4
{
	width: 0.01px;
	left: 160px;
	margin-top: 19px;
	position: relative;
}

#u5780-4
{
	z-index: 50;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5781-4
{
	z-index: 54;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u5825-4
{
	z-index: 58;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 621px;
}

#pu5784
{
	width: 0.01px;
	left: 160px;
	margin-top: 5px;
	position: relative;
}

#u5784
{
	z-index: 142;
	width: 285px;
	background-color: #662D91;
	position: relative;
	margin-right: -10000px;
}

#u5829
{
	z-index: 145;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5835
{
	z-index: 147;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u5840
{
	z-index: 149;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 621px;
}

#pu5783-4
{
	width: 0.01px;
	left: 287px;
	margin-top: 16px;
	position: relative;
}

#u5783-4
{
	z-index: 130;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #66BEC0;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u5874-4
{
	z-index: 134;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #66BEC0;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u5881-4
{
	z-index: 138;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #66BEC0;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 621px;
}

#pu5853
{
	width: 0.01px;
	left: 161px;
	margin-top: 16px;
	position: relative;
}

#u5853
{
	z-index: 153;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5847
{
	z-index: 151;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 310px;
}

#u5858
{
	z-index: 155;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 620px;
}

#u5772-bw
{
	z-index: 28;
	min-height: 647.8157078564781px;
}

#u5773
{
	z-index: 30;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 568px;
}

#u5774
{
	z-index: 31;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E2E6E7;
	border-width: 0px 0px 1px;
}

#u5775
{
	z-index: 32;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u5873-4
{
	z-index: 46;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 60px;
	position: relative;
}

#u6011-4
{
	z-index: 118;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	margin-left: 402px;
	margin-top: 31px;
	position: relative;
}

#u5981
{
	z-index: 183;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 5px;
	position: relative;
}

#u6012-4
{
	z-index: 122;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	margin-left: 402px;
	margin-top: 39px;
	position: relative;
}

#pu5782-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 25px;
}

#u5782-4
{
	z-index: 62;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6016-4
{
	z-index: 78;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 242px;
}

#u6017-4
{
	z-index: 66;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u6019-4
{
	z-index: 82;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 729px;
}

#u5946
{
	z-index: 169;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6040-4
{
	z-index: 223;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 7px;
}

#u5966
{
	z-index: 177;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6084-4
{
	z-index: 207;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 7px;
}

#u5951
{
	z-index: 171;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5976
{
	z-index: 181;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 485px;
}

#u6039-4
{
	z-index: 187;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 6px;
}

#u6082-4
{
	z-index: 191;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 494px;
}

#pu6020-4
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: 33px;
}

#u6020-4
{
	z-index: 110;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6021-4
{
	z-index: 70;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u6022-4
{
	z-index: 74;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 486px;
}

#u6024-4
{
	z-index: 114;
	width: 220px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 729px;
}

#ppu5946,#ppu5901
{
	width: 0.01px;
	margin-left: 37px;
	margin-top: -4px;
}

#pu5946,#pu5901
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 243px;
}

#u5901
{
	z-index: 157;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6047-4
{
	z-index: 203;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 7px;
}

#pu5966,#pu5956
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 729px;
}

#u5956
{
	z-index: 173;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6050-4
{
	z-index: 239;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 7px;
}

#u5906
{
	z-index: 159;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 485px;
}

#u5931
{
	z-index: 165;
	width: 220px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u6049-4
{
	z-index: 219;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 494px;
}

#u6043-4
{
	z-index: 235;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 6px;
}

#pu6031
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 70px;
}

#u6031
{
	z-index: 29;
	min-height: 1049px;
	border-style: none;
}

#u5772_align_to_page,#u6031_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	position: relative;
	left: -100px;
}

#u6031_position_content
{
	margin-top: -21px;
	padding-bottom: 440px;
}

#u6028
{
	z-index: 39;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	left: 568px;
	position: relative;
}

#u6029
{
	z-index: 40;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u6030
{
	z-index: 41;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u6051-4
{
	z-index: 126;
	width: 526px;
	min-height: 27px;
	background-color: transparent;
	left: 349px;
	margin-top: 16px;
	position: relative;
}

#pu6057-4
{
	width: 0.01px;
	left: 156px;
	margin-top: 24px;
	position: relative;
}

#u6057-4
{
	z-index: 106;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6060-4
{
	z-index: 102;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 313px;
}

#u6054-4
{
	z-index: 94;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu6058-4
{
	width: 0.01px;
	left: 158px;
	margin-top: 448px;
	position: relative;
}

#u6058-4
{
	z-index: 98;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6052-4
{
	z-index: 86;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u6059-4
{
	z-index: 90;
	width: 287px;
	min-height: 27px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 621px;
}

#u6031-bw
{
	z-index: 29;
	min-height: 1049px;
}

#u6034
{
	z-index: 33;
	width: 88px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1030px;
	left: 568px;
}

#u6036
{
	z-index: 34;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-2,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 35px;
}

#u6035
{
	z-index: 35;
	width: 51px;
	height: 23px;
	border-style: none;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u5911
{
	z-index: 161;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 780px;
}

#u5921
{
	z-index: 163;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 606px;
	left: 469px;
}

#u5936
{
	z-index: 167;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 469px;
}

#u5961
{
	z-index: 175;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 159px;
}

#u5971
{
	z-index: 179;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 606px;
	left: 159px;
}

#u5986
{
	z-index: 185;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 606px;
	left: 780px;
}

#u6046-4
{
	z-index: 195;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 167px;
}

#u6079-4
{
	z-index: 199;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 478px;
}

#u6044-4
{
	z-index: 211;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 968px;
	left: 477px;
}

#u6081-4
{
	z-index: 215;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 975px;
	left: 788px;
}

#u6045-4
{
	z-index: 227;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 494px;
	left: 786px;
}

#u6080-4
{
	z-index: 231;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #08A1A4;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 975px;
	left: 165px;
}

#u5023
{
	z-index: 27;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 499px;
	margin-top: 36px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u5023:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 36px 0px 5px 499px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 11px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

