.version.report /* version checker */
{
	color: #0000F7;
	background-color: #9766D8;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2506px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu7096
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u7096
{
	z-index: 49;
	height: 66px;
	top: 0px;
}

#u7096-bw
{
	z-index: 49;
}

#u7103
{
	z-index: 72;
	width: 51px;
	top: 13px;
	left: 50%;
	margin-left: -476px;
}

#u7103:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -476px;
}

#u7103_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u7100-4
{
	z-index: 60;
	width: 60px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -146px;
}

#u7100-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -146px;
}

#u7099-4
{
	z-index: 52;
	width: 102px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: -53px;
}

#u7099-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 102px;
	margin: 0px 0px 0px -53px;
}

#u7168-4
{
	z-index: 56;
	width: 44px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 81px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px 81px;
}

#u7101-4
{
	z-index: 64;
	width: 53px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 287px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 287px;
}

#u7102-4
{
	z-index: 68;
	width: 103px;
	min-height: 23px;
	top: 24px;
	left: 50%;
	margin-left: 371px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 103px;
	margin: 0px 0px 0px 371px;
}

#u7095-3
{
	z-index: 46;
	width: 5px;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
}

#u7097
{
	z-index: 50;
	width: 1024px;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u4585
{
	z-index: 74;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u4585:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u4573-4
{
	z-index: 26;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u4586
{
	z-index: 75;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u4586:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u4641-6
{
	z-index: 39;
	width: 776px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 124px;
	margin-top: 15px;
	position: relative;
}

#u4641-4
{
	font-size: 22px;
	line-height: 29px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
}

#u4571-11
{
	z-index: 11;
	width: 575px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 48px;
	position: relative;
}

#u4572-4
{
	z-index: 22;
	width: 152px;
	min-height: 35px;
	background-color: #E17199;
	border-radius: 18px;
	margin-left: 436px;
	margin-top: 24px;
	position: relative;
}

#u4572-4:hover
{
	background-color: #C54874;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 152px;
	margin: 24px 0px 0px 436px;
}

#u4572-2
{
	padding-bottom: 0px;
	padding-top: 6px;
	color: #FFFFFF;
}

#u4596
{
	z-index: 30;
	width: 950px;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 65px;
	position: relative;
}

#pu4606
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 54px;
}

#u4606
{
	z-index: 32;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4612
{
	z-index: 34;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u4618
{
	z-index: 36;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 43px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 37px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u7097_img,#u2335_img
{
	padding-bottom: 5px;
}

#u4624
{
	z-index: 38;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u4624:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

