.version.unusual_collages /* version checker */
{
	color: #00001C;
	background-color: #E37BAC;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 4301px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu5069
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u5069
{
	z-index: 187;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u5069-bw
{
	z-index: 187;
}

#u6219
{
	z-index: 208;
	width: 51px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -25px;
}

#u6219:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u6219_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u6216-4
{
	z-index: 196;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: right;
	font-size: 20px;
	line-height: 24px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -197px;
}

#u6216-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -197px;
}

#u6216-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u6215-4
{
	z-index: 192;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: right;
	font-size: 20px;
	line-height: 24px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -103px;
}

#u6215-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -103px;
}

#u6217-4
{
	z-index: 200;
	width: 53px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 61px;
}

#u6217-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 61px;
}

#u6218-4
{
	z-index: 204;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6218-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 148px;
}

#u6730-4
{
	z-index: 210;
	width: 104px;
	min-height: 23px;
	background-color: transparent;
	color: #949295;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6730-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 104px;
	margin: 0px 0px 0px 148px;
}

#u6215-4:hover p,#u6217-4:hover p,#u6218-4:hover p,#u6730-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u5068-3
{
	z-index: 184;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u5070
{
	z-index: 188;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u5078
{
	z-index: 190;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u5078:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u5079
{
	z-index: 191;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u5079:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u5065-4
{
	z-index: 23;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u5066-4
{
	z-index: 27;
	width: 578px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 223px;
	margin-top: 1px;
	position: relative;
}

#u5066-2
{
	font-size: 22px;
	line-height: 29px;
	font-family: josefin-sans, sans-serif;
	font-weight: 300;
}

#u5064-11
{
	z-index: 12;
	width: 561px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 232px;
	margin-top: 40px;
	position: relative;
}

#u5247-4
{
	z-index: 67;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 44px;
	position: relative;
}

#u5089
{
	z-index: 31;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 14px;
	position: relative;
}

#pu5097
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 61px;
}

#u5097
{
	z-index: 33;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

.arrow-0
{
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
}

#u5097_position_content
{
	margin-top: -22px;
	padding-bottom: 348px;
}

#u5101
{
	z-index: 41;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u5103
{
	z-index: 42;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-1
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #EEEEEE;
	border-width: 0px 0px 1px;
}

#u5102
{
	z-index: 43;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u5104-4
{
	z-index: 47;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 248px;
	margin-top: 13px;
	position: relative;
}

#pu5115-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 20px;
}

#u5115-4
{
	z-index: 71;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5256-4
{
	z-index: 83;
	width: 323px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 286px;
}

#u5258-4
{
	z-index: 95;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u5098
{
	z-index: 35;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 431px;
}

#u5100
{
	z-index: 36;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

.arrow-2
{
	border-style: solid;
	border-color: #C8C8C8;
	background-color: #E7E2E4;
	border-width: 0px 0px 1px;
}

#u5099
{
	z-index: 37;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u5121
{
	z-index: 115;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 26px;
}

#u5127
{
	z-index: 117;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 333px;
}

#u5133
{
	z-index: 119;
	width: 285px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 640px;
}

#u5139-4
{
	z-index: 121;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 36px;
}

#u5140-4
{
	z-index: 125;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 345px;
}

#u5141-4
{
	z-index: 129;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 654px;
}

#u5253-4
{
	z-index: 59;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 68px;
	position: relative;
}

#ppu5260-4
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 19px;
}

#pu5260-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 308px;
}

#u5260-4
{
	z-index: 87;
	width: 333px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5160
{
	z-index: 137;
	width: 304px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 14px;
}

#u5167-4
{
	z-index: 143;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 24px;
}

#u5259-4
{
	z-index: 75;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 10px;
}

#u5261-4
{
	z-index: 99;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 654px;
}

#u5148
{
	z-index: 133;
	width: 304px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 644px;
}

#u5154
{
	z-index: 135;
	width: 304px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: -1px;
}

#u5166-4
{
	z-index: 139;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 9px;
}

#u5168-4
{
	z-index: 147;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 655px;
}

#u5246-4
{
	z-index: 55;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 68px;
	position: relative;
}

#u5178
{
	z-index: 151;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 35px;
	margin-top: 9px;
	position: relative;
}

#pu5205
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: 63px;
}

#u5205
{
	z-index: 34;
	width: 949px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
}

#u5205_position_content
{
	margin-top: -21px;
	padding-bottom: 351px;
}

#u5214
{
	z-index: 44;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-left: 430px;
	position: relative;
}

#u5215
{
	z-index: 45;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u5216
{
	z-index: 46;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u5206-4
{
	z-index: 51;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 248px;
	margin-top: 12px;
	position: relative;
}

#pu5207-4
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 7px;
}

#u5207-4
{
	z-index: 107;
	width: 435px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5244-4
{
	z-index: 111;
	width: 435px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 464px;
}

#u5223
{
	z-index: 38;
	width: 89px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 445px;
	left: 431px;
}

#u5224
{
	z-index: 39;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	-ms-transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	transform: matrix(0.866,-0.5,0.5,0.866,-3,14);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 36px;
	border-width: 0px 0px 1px;
}

#u5225
{
	z-index: 40;
	width: 51px;
	height: 23px;
	border-style: solid;
	-webkit-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	-ms-transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	transform: matrix(0.866,0.5,-0.5,0.866,9,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 3px;
	border-width: 0px 0px 1px;
}

#u5231
{
	z-index: 153;
	width: 435px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 26px;
}

#u5237
{
	z-index: 155;
	width: 435px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 490px;
}

#u5220-4
{
	z-index: 157;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 36px;
}

#u5221-4
{
	z-index: 161;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 396px;
	left: 504px;
}

#u5271-4
{
	z-index: 63;
	width: 454px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin-left: 285px;
	margin-top: 58px;
	position: relative;
}

#pu5270-4
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 16px;
}

#u5270-4
{
	z-index: 79;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5278-4
{
	z-index: 91;
	width: 329px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u5283-4
{
	z-index: 103;
	width: 285px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 645px;
}

#u5115-2,#u5256-2,#u5258-2,#u5260-2,#u5259-2,#u5261-2,#u5207-2,#u5244-2,#u5270-2,#u5278-2,#u5283-2
{
	font-size: 22px;
	line-height: 29px;
}

#ppu5299
{
	width: 0.01px;
	margin-left: 36px;
	margin-top: -3px;
}

#pu5299
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 322px;
}

#u5299
{
	z-index: 177;
	width: 304px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5285-4
{
	z-index: 179;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 10px;
}

#u5287
{
	z-index: 165;
	width: 304px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 645px;
}

#u5284-4
{
	z-index: 167;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 655px;
}

#u5293
{
	z-index: 171;
	width: 302px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5286-4
{
	z-index: 173;
	width: 32px;
	min-height: 32px;
	border-color: #C8C8C8;
	background-color: #E17199;
	border-radius: 25px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 9px;
}

#pu2335
{
	width: 0.01px;
	margin-top: 54px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u5070_img,#u2335_img
{
	padding-bottom: 5px;
}

#u5045
{
	z-index: 11;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u5045:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

