.version.vetdoctor /* version checker */
{
	color: #000019;
	background-color: #AA4239;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2231px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -33px;
	width: 0.01px;
}

#u7096
{
	z-index: 39;
	height: 79px;
	top: 0px;
}

#u7096-bw
{
	z-index: 39;
}

#top
{
	margin-left: 494px;
	position: relative;
}

#u7724
{
	z-index: 56;
	width: 26px;
	top: 28px;
	left: 50%;
	margin-left: -514px;
}

#u7724_img
{
	padding-right: 2px;
}

#u7640-4
{
	z-index: 52;
	width: 188px;
	min-height: 24px;
	top: 27px;
	left: 50%;
	margin-left: -481px;
}

#u7168-4
{
	z-index: 40;
	width: 80px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 184px;
}

#u7168-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80px;
	margin: 0px 0px 0px 184px;
}

#u7101-4
{
	z-index: 44;
	width: 58px;
	min-height: 24px;
	top: 28px;
	left: 50%;
	margin-left: 307px;
}

#u7101-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 58px;
	margin: 0px 0px 0px 307px;
}

#u7102-4
{
	z-index: 48;
	width: 105px;
	min-height: 25px;
	top: 28px;
	left: 50%;
	margin-left: 407px;
}

#u7102-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 105px;
	margin: 0px 0px 0px 407px;
}

#u5338
{
	z-index: 58;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 127px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u5338:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u5325-4
{
	z-index: 25;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 102px;
	position: relative;
}

#u5339
{
	z-index: 59;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 127px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u5339:hover
{
	border-color: #66BEC0;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u5324-13
{
	z-index: 12;
	width: 741px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 142px;
	margin-top: 50px;
	position: relative;
}

#u5379
{
	z-index: 35;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 27px;
	position: relative;
}

#pu5367
{
	width: 0.01px;
	margin-left: 37px;
}

#u5367
{
	z-index: 33;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5358
{
	z-index: 31;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u5348
{
	z-index: 29;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 34px;
	position: relative;
}

#u5396
{
	z-index: 37;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #66BEC0;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	margin-left: 499px;
	margin-top: 63px;
	margin-bottom: 5px;
	position: relative;
	border-width: 3px 0px 0px 3px;
}

#u5396:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 63px 0px 5px 499px;
}

#u7669
{
	z-index: 2;
	min-height: 42px;
	padding-bottom: 22px;
}

#u7669_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	left: -100px;
}

#u7762
{
	z-index: 7;
	width: 18px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 100px;
}

#u6176-4
{
	z-index: 3;
	width: 316px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 22px;
	left: 126px;
}

#u7855
{
	z-index: 9;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 976px;
}

#u7870
{
	z-index: 10;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1038px;
}

#u7883
{
	z-index: 11;
	width: 25px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 1099px;
}

#u7855:hover,#u7870:hover,#u7883:hover
{
	width: 25px;
	height: 25px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u7669-bw
{
	z-index: 2;
	min-height: 42px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 18px;
}

#page .verticalspacer
{
	clear: both;
}

