.version.vetdoctor /* version checker */
{
	color: #000018;
	background-color: #D165AD;
}

.html
{
	background-color: #EEEEEE;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2226px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	margin-bottom: -10px;
	width: 0.01px;
}

#pu5329
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u5329
{
	z-index: 41;
	height: 66px;
	background-color: #EEEEEE;
	position: fixed;
	top: 0px;
}

#u5329-bw
{
	z-index: 41;
}

#u6226
{
	z-index: 62;
	width: 51px;
	background-color: transparent;
	position: fixed;
	top: 13px;
	left: 50%;
	margin-left: -25px;
}

#u6226:hover
{
	width: 51px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u6226_img
{
	padding: 2px 3px 7px 1px;
}

#top
{
	margin-left: 494px;
	top: -66px;
	margin-bottom: -18px;
	position: relative;
}

#u6223-4
{
	z-index: 50;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -197px;
}

#u6223-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 60px;
	margin: 0px 0px 0px -197px;
}

#u6223-4:hover p
{
	color: #9563B7;
	visibility: inherit;
	text-decoration: none;
}

#u6222-4
{
	z-index: 46;
	width: 44px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: right;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -103px;
}

#u6222-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 44px;
	margin: 0px 0px 0px -103px;
}

#u6224-4
{
	z-index: 54;
	width: 53px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 61px;
}

#u6224-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 53px;
	margin: 0px 0px 0px 61px;
}

#u6734-4
{
	z-index: 64;
	width: 104px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6734-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 104px;
	margin: 0px 0px 0px 148px;
}

#u6225-4
{
	z-index: 58;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	color: #949295;
	text-align: left;
	font-size: 20px;
	font-family: josefin-sans, sans-serif;
	font-weight: 600;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 148px;
}

#u6225-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 67px;
	margin: 0px 0px 0px 148px;
}

#u6222-4:hover p,#u6224-4:hover p,#u6734-4:hover p,#u6225-4:hover p
{
	color: #9563B7;
	visibility: inherit;
}

#u5328-3
{
	z-index: 38;
	width: 5px;
	background-color: transparent;
	margin-left: 389px;
	top: -16px;
	margin-bottom: -16px;
	position: relative;
}

#u5330
{
	z-index: 42;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u5338
{
	z-index: 44;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	transform: matrix(0.7071,-0.7071,0.7071,0.7071,-6,15);
	top: 111px;
	left: 50%;
	margin-left: -507px;
	border-width: 3px 0px 0px 3px;
}

#u5338:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px -507px;
}

#u5339
{
	z-index: 45;
	width: 26px;
	height: 26px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	position: fixed;
	-webkit-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	-ms-transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	transform: matrix(-0.7071,0.7071,-0.7071,-0.7071,35,14);
	top: 111px;
	left: 50%;
	margin-left: 478px;
	border-width: 3px 0px 0px 3px;
}

#u5339:hover
{
	border-color: #9563B7;
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 0px 0px 0px 478px;
}

#u5325-4
{
	z-index: 24;
	width: 611px;
	min-height: 31px;
	background-color: transparent;
	margin-left: 207px;
	margin-top: 53px;
	position: relative;
}

#u5324-13
{
	z-index: 11;
	width: 741px;
	min-height: 99px;
	background-color: transparent;
	margin-left: 142px;
	margin-top: 50px;
	position: relative;
}

#u5379
{
	z-index: 34;
	width: 950px;
	background-color: transparent;
	margin-left: 37px;
	margin-top: 27px;
	position: relative;
}

#pu5367
{
	width: 0.01px;
	margin-left: 37px;
}

#u5367
{
	z-index: 32;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u5358
{
	z-index: 30;
	width: 460px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 489px;
}

#u5348
{
	z-index: 28;
	width: 950px;
	border-width: 1px;
	border-style: solid;
	border-color: #C8C8C8;
	background-color: transparent;
	margin-left: 36px;
	margin-top: 34px;
	position: relative;
}

#pu2335
{
	width: 0.01px;
	margin-top: 59px;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-right: -10000px;
	margin-top: 16px;
}

#u5330_img,#u2335_img
{
	padding-bottom: 5px;
}

#u5396
{
	z-index: 36;
	width: 22px;
	height: 22px;
	border-style: solid;
	border-color: #9563B7;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,12,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 499px;
	border-width: 3px 0px 0px 3px;
}

#u5396:hover
{
	border-color: #C8C8C8;
	width: 22px;
	height: 22px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#pu6176-4
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: 18px;
}

#u6176-4
{
	z-index: 4;
	width: 161px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u6568
{
	z-index: 10;
	width: 25px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 707px;
}

#u6568:hover
{
	width: 25px;
	height: 18px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u6531
{
	z-index: 9;
	width: 20px;
	height: 20px;
	margin-right: -10000px;
	left: 771px;
}

#u6531:hover
{
	width: 20px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6508
{
	z-index: 8;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
	left: 823px;
}

#u6508:hover
{
	width: 18px;
	height: 20px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 32px;
}

#page .verticalspacer
{
	clear: both;
}

