.version.web_design /* version checker */
{
	color: #0000ED;
	background-color: #C0EAD2;
}

.html
{
	background-color: #EAEAEA;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 2532px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	padding-bottom: 31px;
	width: 0.01px;
}

#pu652
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: -100px;
}

#u652
{
	z-index: 35;
	height: 66px;
	position: fixed;
	top: 0px;
	background: transparent url("../images/pattern-5.jpg") repeat left top;
}

#u652-bw
{
	z-index: 35;
}

#u655
{
	z-index: 38;
	width: 47px;
	background-color: transparent;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -24px;
}

#u657-4
{
	z-index: 40;
	width: 74px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #939495;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -150px;
}

#u658-4
{
	z-index: 44;
	width: 72px;
	min-height: 23px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	color: #939495;
	font-family: josefin-slab, serif;
	font-weight: 700;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: 75px;
}

#u653
{
	z-index: 36;
	width: 1024px;
	background-color: transparent;
	position: fixed;
	top: 65px;
	left: 50%;
	margin-left: -512px;
}

#u653_img
{
	padding-right: 381px;
	padding-bottom: 8px;
}

#u651
{
	z-index: 34;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: -512px;
	background: transparent url("../images/arrow-left-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u651:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px -512px;
	background: transparent url("../images/arrow-left-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1448-8
{
	z-index: 17;
	width: 765px;
	min-height: 38px;
	background-color: transparent;
	text-align: center;
	margin-left: 129px;
	margin-top: 48px;
	position: relative;
}

#u650
{
	z-index: 33;
	width: 50px;
	height: 25px;
	position: fixed;
	top: 111px;
	left: 50%;
	margin-left: 462px;
	background: transparent url("../images/arrow-right-shape%201.png") no-repeat left top;
	background-size: contain;
}

#u650:hover
{
	width: 50px;
	height: 25px;
	min-height: 0px;
	margin: 0px 0px 0px 462px;
	background: transparent url("../images/arrow-right-shape%201%20copy.png") no-repeat left top;
	background-size: contain;
}

#u1430
{
	z-index: 8;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	margin-left: 61px;
	margin-top: 7px;
	position: relative;
}

.border
{
	border-width: 1px;
	border-style: solid;
	border-color: #939495;
	background-color: transparent;
}

#u1564
{
	z-index: 31;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	margin-left: 61px;
	margin-top: 30px;
	position: relative;
}

#u1447-6
{
	z-index: 25;
	width: 785px;
	min-height: 29px;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 56px;
	position: relative;
}

#u1420
{
	z-index: 6;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	margin-left: 61px;
	margin-top: 4px;
	position: relative;
}

#u1446-7
{
	z-index: 10;
	width: 737px;
	background-color: transparent;
	margin-left: 144px;
	margin-top: 50px;
	position: relative;
}

#u1447-3,#u1446-4
{
	text-align: center;
}

#u1448-2,#u1448-4,#u1447-2,#u1446-2
{
	font-family: rosario, sans-serif;
	font-weight: 700;
}

#u1409
{
	z-index: 4;
	width: 900px;
	border-width: 1px;
	border-style: solid;
	margin-left: 61px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2335
{
	z-index: 2;
	width: 1024px;
	margin-top: 25px;
}

#u655_img,#u2335_img
{
	padding-bottom: 5px;
}

body
{
	position: relative;
	min-width: 1024px;
	padding-top: 20px;
	padding-bottom: 16px;
}

#page .verticalspacer
{
	clear: both;
}

